* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F6FC;
    font-family: 'Inter', sans-serif;
    color: #393d3f;
}

#root {
    margin: 0;
    width: 100%;
}

/* used on multiple pages */
.centered {
    max-width: 600px;
    text-align: center;
    padding: 5px;
    margin: 0 auto auto auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.strong {
    font-weight: 600;
    color: #002E99;
}

/* 
Color palette

baby blue:     #ABC4FF    logo, play button, save button
dark gray:     #393d3f    h1, body text, map border
dark blue:     #002E99    nav links, textarea border focus, strong emphasis
blueish white: #F3F6FC    background
orange:        #FFCBAD    stop button, cancel button

*/